
<!-- main -->
<div class="main">
    <div class="topbar">
        <H1>Tarjetas</H1>
    </div>

    <div class="search">
        <label>
            <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="searchTxt"/>
            <i class="far fa-search"></i>
        </label>
    </div>

    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">{{ActiveCodes}}</div>
                <div class="cardName">Activos</div>
            </div>
            <div class="iconBox">
                <i class="eye-outline"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">{{codeEvents}}</div>
                <div class="cardName">Eventos</div>
            </div>
            <div class="iconBox">
                <i class="cart-outline"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">Comentarios</div>
            </div>
            <div class="iconBox">
                <i class="chatbubbles-outline"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">7,542</div>
                <div class="cardName">Codigos</div>
            </div>
            <div class="iconBox">
                <i class="cash-outline"></i>
            </div>
        </div>
    </div>

    <!-- Detail codes events -->
    <div class="details" *ngIf="list; else elseBlock">
        <table class="datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Residente</th>
                    <th>Inicio</th>
                    <th>Expira</th>
                    <th>Correo</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list | search: searchTxt; let odd = odd" 
                [ngClass] = "{'activo': item.expiro === false, 
                              'expiro': item.expiro === true,
                              'odd' : odd,
                              'even': !odd}">
                    <td>{{ item.idx }}</td>          
                    <td>{{ item.code }}</td>
                    <td>{{ item.userName }}</td>
                    <td>{{ item.initial | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    <td>{{ item.expiry | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        <button type="button" >ver</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <ng-template #elseBlock>Registros no encontrados</ng-template>
    
</div>

