

<div class="main">
  <!-- <img src="../../../assets/barrier-banner-1.jpg"/> -->

  <div>
    <div>
      <div class="mainTitle">BYH16M</div>
    </div>
  </div>

 <form (ngSubmit)="login()" [formGroup]="credentials">
   <div class="input-group">
      <div class="input">
        <label>Email</label>
        <input type="email" placeholder="Email" formControlName="email"/>
      </div>
      <!-- <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
         <span *ngIf="email.errors?.['required']">Email is required</span>
        <span *ngIf="email.errors?.['email']">Email is invalid</span>
      </div> -->
      <div>
        <label>Password</label>
        <input type="password" placeholder="Password" formControlName="pwd"/>
      </div>
      <!-- <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.['required']">Password is required</span>
        <span *ngIf="password.errors?.['minlength']">Password needs to be 6 characters</span>
      </div> -->
    </div>

    <button class="loginButton" type="submit" expand="block"
      [disabled]="!credentials.valid">Iniciar sesion</button>

      <!-- <button class="loginButton" expand="block" (click)='openStore()'>Soy visitante</button> -->

    <div class="resetPwd-Link">
      <!-- <a (click)="pwdReset()">Recuperar contraseña</a> -->
      <!-- <a routerLink="/pwd-reset">Recuperar contraseña</a> -->
    </div>
  </form>
</div>
