<!-- main -->
<div class="main">
  <!-- Header, Search, Menu Login    ----------------------------------------------------------------------->
    <div class="topbar">
        <div class="toggle">
            <H1 class="title">Visitas</H1>
        </div>
        <!-- search -->
        <div class="search">
            <label>
                <input class="form-control" type="text" placeholder="Buscar..." [(ngModel)]="searchTxt"/>
                <i class="far fa-search"></i>
            </label>
        </div>
        <!-- user image-->

        <div class="menuContainer" clickOutside (clickOutside)="clickedOutside()">
            <div class="imgContainer" (click)="toggleMenu()">
                <div class="user">
                    <img src="../../assets/Me_near.jpg" alt="">
                </div>
                <div>
                    <i [ngClass] = " isMenuOpened ? 'fa fa-angle-up' : 'fa fa-angle-down'"></i>
                </div>
            </div>
            <div class="menu" *ngIf="isMenuOpened" [@dropDownMenu]>
                <div class="menu-item" (click)="logout()">
                    <!-- <i class="far fa-arrow-right-from-bracket"></i> -->
                    <i class="far fa-arrow-left"></i>
                    <div class="item" (click)="logout()">Logout</div>
                </div>
            </div>
        </div>


    </div>

    <!-- Counts ------------------------------------------>
    <div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">{{ActiveCodes}}</div>
                <div class="cardName">Activos</div>
            </div>
            <div class="iconBox">
                <i class="eye-outline"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">{{codeEvents}}</div>
                <div class="cardName">Eventos</div>
            </div>
            <div class="iconBox">
                <i class="cart-outline"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">Comentarios</div>
            </div>
            <div class="iconBox">
                <i class="chatbubbles-outline"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">{{countCodes}}</div>
                <div class="cardName">Codigos</div>
            </div>
            <div class="iconBox">
                <i class="cash-outline"></i>
            </div>
        </div>
    </div>

    <!-- Detail codes events -------------------------------->
    <div class="details" *ngIf="list; else elseBlock">
        <table class="datatable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Residente</th>
                    <th>Inicio</th>
                    <th>Expira</th>
                    <th>Correo</th>
                    <th>Eventos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list | search: searchTxt; let odd = odd"
                [ngClass] = "{'activo': item.expiro === false,
                              'expiro': item.expiro === true,
                              'odd' : odd,
                              'even': !odd}">
                    <td>{{ item.idx }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.userName }}</td>
                    <td>{{ item.initial | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    <td>{{ item.expiry | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        <input class="btn_eventos" type="button" value="Eventos" (click)="openModal(item.code)"/>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <ng-template #elseBlock>Registros no encontrados</ng-template>


    <!-- Code Events Modal  ----------------------------------------------------------------------->
    <div *ngIf="openedModal == true" class="eventsModal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modelHeader">
          <h3>Eventos del codigo <span>{{codeFilter}}</span></h3>
          <span class="close" (click)="closeModal()">&times;</span>
        </div>
        <!-- Detail codes events -------------------------------->
        <div class="details" *ngIf="listEvents; else elseBlock">
            <table class="datatable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Visitante</th>
                        <th>Evento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listEvents | search: searchTxt; let odd = odd; let i = index"
                    [ngClass] = "{'odd' : odd,
                                  'even': !odd}">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.visitor }}</td>
                        <td>{{ item.time | date: 'dd/MM/yyyy hh:mm a'}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <ng-template #elseBlock>Registros no encontrados</ng-template>
      </div>
    </div>

</div>
