<h1>Visitantes</h1>

<div class="cardBox">

    <!-- Visitantes -->
    <div class="card">
        <div>
            <i class="fal fa-chart-bar card-char"></i>
            <div class="cardName">Activos</div>
        </div>
        <div class="iconBox">
            <i class="eye-outline"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <i class="fal fa-chart-bar card-char"></i>
            <div class="cardName">Eventos</div>
        </div>
        <div class="iconBox">
            <i class="cart-outline"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <i class="fal fa-chart-bar card-char"></i>
            <div class="cardName">Comentarios</div>
        </div>
        <div class="iconBox">
            <i class="chatbubbles-outline"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <i class="fal fa-chart-bar card-char"></i>
            <div class="cardName">Visitantes</div>
        </div>
        <div class="iconBox">
            <i class="cash-outline"></i>
        </div>
    </div>
</div>

    <!-- Peatonal -->
    <div><h1>Peatonal</h1></div>
<div class="cardBox">
    <div class="card">
        <div>
            <i class="fal fa-chart-bar card-char"></i>
            <div class="cardName">Activos</div>
        </div>
        <div class="iconBox">
            <i class="eye-outline"></i>
        </div>
    </div>

    
    <div class="card">
        <div>
            <i class="fal fa-chart-bar card-char"></i>
            <div class="cardName">Eventos</div>
        </div>
        <div class="iconBox">
            <i class="cart-outline"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <i class="fal fa-chart-bar card-char"></i>
            <div class="cardName">Comentarios</div>
        </div>
        <div class="iconBox">
            <i class="chatbubbles-outline"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <i class="fal fa-chart-bar card-char"></i>
            <div class="cardName">Peatonal</div>
        </div>
        <div class="iconBox">
            <i class="cash-outline"></i>
        </div>
    </div>
</div>

 <!-- Visitas comerciales -->
 <div><h1>Comercial</h1></div>
 <div class="cardBox">
     <div class="card">
         <div>
             <i class="fal fa-chart-bar card-char"></i>
             <div class="cardName">Activos</div>
         </div>
         <div class="iconBox">
             <i class="eye-outline"></i>
         </div>
     </div>
 
     
     <div class="card">
         <div>
             <i class="fal fa-chart-bar card-char"></i>
             <div class="cardName">Eventos</div>
         </div>
         <div class="iconBox">
             <i class="cart-outline"></i>
         </div>
     </div>
 
     <div class="card">
         <div>
             <i class="fal fa-chart-bar card-char"></i>
             <div class="cardName">Comentarios</div>
         </div>
         <div class="iconBox">
             <i class="chatbubbles-outline"></i>
         </div>
     </div>
 
     <div class="card">
         <div>
             <i class="fal fa-chart-bar card-char"></i>
             <div class="cardName">Peatonal</div>
         </div>
         <div class="iconBox">
             <i class="cash-outline"></i>
         </div>
     </div>
 </div>