<h1>Estadisticas</h1>

<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">133</div>
            <div class="cardName">Activos</div>
        </div>
        <div class="iconBox">
            <i class="eye-outline"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">122</div>
            <div class="cardName">Eventos</div>
        </div>
        <div class="iconBox">
            <i class="cart-outline"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">284</div>
            <div class="cardName">Comments</div>
        </div>
        <div class="iconBox">
            <i class="chatbubbles-outline"></i>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">$7,842</div>
            <div class="cardName">Earning</div>
        </div>
        <div class="iconBox">
            <i class="cash-outline"></i>
        </div>
    </div>
</div>